<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的第一個網站</title>
</head>
<body>
    <h3>網頁的主畫面</h3>
    <form action="/calculate" method="POST">
        數字 <input type="text" name="max" />
        <button>計算結果</button>
    </form>
    <form action="/show">
        姓名<input type="text" name="n" />
        <button>點擊送出表單</button>
    </form>
    <a href="/page">連結到網頁</a>  
    <br/>
</body>
</html>