.frame{
    display:flex; /*水平排列*/}

.left{
    background-color:red;
    flex:none/*固定配置*/;
    width:200px}

.right{
    display:flex;/*下一層次水平排列*/
    justify-content:flex-end;
    flex:auto;/*填滿剩餘空間*/
    background-color:blueviolet}

.item{flex:none;
      width:100px;
      margin-right:10px;
      text-align:center;
      background-color:#CCCCCC;
      color:yellowgreen} 

.Welcome{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    background-color:#342e6b75;
}

.text{width:300px;
      height:40px;
      font-size:30px;
      font-weight:bold;
      text-align:center;}