<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Week7.css">
    <title>會員頁面</title>
</head>
<body>
    <div class="welcome" >歡迎光臨，這是會員頁</div>
    <div class="form">恭喜{{ message }}，成功登入系統</div>
    <div class="form"><a href="/signout">登出系統</a></div>
    <div class="signin">快來留言吧</div>
    <form class="form" action="/createMessage" method="POST">
        <div>內容<input type="text" name="Message" /></div>
        <div><button>送出</button></div>
    </form>
    <form id="searchForm" class="form" method="GET">
        <div>查詢會員姓名<input type="text" name="memberName" /><button>查詢</button></div>
        <div class="name"></div>
    </form>
    <form id="renewForm" class="form">
        <div>更新我的姓名<input type="text" name="renewName" /><button>更新</button></div>
        <div class="rename"></div>
    </form>
    <div class="form" action="/createMessage" method="POST">
        <pre>{{ messages }}</pre>
    </div>
    
    <script>
        document.querySelector("#searchForm").addEventListener("submit", function(event) {
            event.preventDefault(); // 阻止表單默認提交行為
            let memberName = document.querySelector("input[name=memberName]").value;
            searchMember(memberName);
            });

        function searchMember(memberName){
            fetch("http://127.0.0.1:3000/api/member?username=" + memberName)
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                let name = document.querySelector(".name");
    
                if(data.data !== null){
                    name.innerHTML = data.data[0].name + "(" + memberName + ")";
                    console.log(data);
                }else{
                    name.innerHTML = "查無資料";
                    console.log(data);
                };
            });
        }
    </script>
    <script>
        document.querySelector("#renewForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            let renewName = document.querySelector("input[name=renewName]").value;
            renewMember(renewName);
            });

        function renewMember(renewName){
            fetch("http://127.0.0.1:3000/api/member", {  
                method: "PATCH",
                body: JSON.stringify({
                    "name":renewName,
                }),
                headers: {
                    "Content-type": "application/json",
                }
            })
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                let rename = document.querySelector(".rename");
    
                if(data.ok){
                    rename.innerHTML = "更新成功";
                    console.log(data);
                }else{
                    rename.innerHTML = "更新失敗";
                    console.log(data);
                };
            });
        }
    </script>
</body>
</html>