<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Week7.css">
    <title>會員系統</title>
</head>
<body>
    <div class="welcome" >歡迎光臨，請輸入帳號密碼</div>
    <div class="signin">註冊帳號</div>
    <form class="form" action="/signup" method="POST">
        <div>姓名<input type="text" name="name" /></div>
        <div>帳號<input type="text" name="username" /></div>
        <div>密碼<input type="password" name="password" /></div>
        <div><button>註冊</button></div>
    </form>
    <div class="signin">登入系統</div>
    <form class="form2" action="/signin" method="POST">
        <div>帳號<input type="text" name="Username" /></div>
        <div>密碼<input type="password" name="Password" /></div>
        <div><button>登入</button></div>
    </form>
    
    <script>
        let form=document.querySelector(".form");
        let name=document.querySelector("input[name='name']");
        let username=document.querySelector("input[name='username']");
        let password=document.querySelector("input[name='password']");
       
        form.addEventListener("submit", function (event) {
            if (name.value === "" || username.value === "" || password.value === "") {
                event.preventDefault();
                alert("請填寫姓名、帳號及密碼");
            }
        })
    </script>
    <script>
        let form2=document.querySelector(".form2");
        let Username=document.querySelector("input[name='Username']");
        let Password=document.querySelector("input[name='Password']");
             
        form2.addEventListener("submit", function (event) {
            if (Username.value === "" || Password.value === "") {
                event.preventDefault();
                alert("請填寫帳號及密碼");
            }
        })
    </script>
</body>
</html>