<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Week6.css">
    <title>會員頁面</title>
</head>
<body>
    <div class="welcome" >歡迎光臨，這是會員頁</div>
    <div class="form">恭喜{{ message }}，成功登入系統</div>
    <div class="form"><a href="/signout">登出系統</a></div>
    <div class="signin">快來留言吧</div>
    <form class="form" action="/createMessage" method="POST">
        <div>內容<input type="text" name="Message" /></div>
        <div><button>送出</button></div>
    </form>
    <div class="form" action="/createMessage" method="POST">
        <pre>{{ messages }}</pre>
    </div>
</body>
</html>